.site-header{
    .menu{
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        max-width: calc(100% - 40px);
        @media (min-width: 992px) { 
            max-width: calc(100% - 80px);
         }
         @media (min-width: 1500px){
            max-width: 1440px;
         }
        .logo{
            svg{
                width: 78px;
                height: 59px;
            }
        }
    }
    .navigation{
        ul{
            display: flex;
            li{
                margin-left: 20px;
                a{
                    color: #fff;
                    text-transform: uppercase;
                }
            }
        }
    }
}